[submodule "FrontEnd"]
	path = FrontEnd
	url = https://github.com/prefeiturasp/SME-Imoveis-FrontEnd.git
[submodule "BackEnd"]
	path = BackEnd
	url = https://github.com/prefeiturasp/SME-Imoveis-BackEnd.git
