DJANGO_SETTINGS_MODULE=sme_ofertaimoveis.config.settings.production
DEFAULT_PASSWORD=dcrftgbhnujidguhaxd9du9uasi213214updsadihusdaihu213213
DJANGO_ALLOWED_HOSTS=localhost,localhost:8888,127.0.0.1,backend,10.50.1.16,hom.imoveis.sme.prefeitura.sp.gov.br
ENABLE_SECURITY=False
CORS_ORIGIN_WHITELIST=localhost,127.0.0.1,backend,10.50.1.16,hom.imoveis.sme.prefeitura.sp.gov.br
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=lasdjnaud@!#!@#dsfjnb7yu3589499***
DJANGO_API_URL=/api
URL_HOSTNAME_WITHOUT_SLASH_API=http://localhost:8888
CELERY_REDIS_URL=redis://redis_imoveis:6379

#DB
POSTGRES_HOST=postgres_imoveis
POSTGRES_PORT=5432
POSTGRES_DB=ofertaimoveis
POSTGRES_USER=admin
POSTGRES_PASSWORD=adminadmin

# React
API_URL=http://localhost/api
REACT_APP_API_URL=http://localhost/api
SERVER_NAME=frontend
